/* Fundo */
.bg-light-blue {
    background-color: #d6efff;
    font-family: "Segoe UI", Roboto, sans-serif;
}

/* Caixa central */
.form-box {
    margin-left: 180px;
    margin-right: 216px;
    background: #fff;
    border-radius: 20px;
    max-width: 420px;
    width: 100%;
    border: 2px solid #0a2a4a;
    box-shadow: 0px 8px 18px rgba(0, 0, 0, 0.08);

}

/* Título */
.form-title {
    font-size: 1.6rem;
    font-weight: 700;
    color: #0a2a4a;
}

/* Inputs */
.input-custom {
    background-color: #f1f7ff;
    border: 1px solid #c5d9f5;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.3s ease-in-out;

}

.input-custom:focus {
    border-color: #347cc7;
    box-shadow: 0 0 6px rgba(12, 71, 131, 0.3);
}

/* Botão */
.btn-custom {
    background-color: #0a2a4a;
    color: #fff;
    font-weight: 600;
    padding: 12px;
    border-radius: 12px;
    font-size: 1rem;
    transition: background 0.3s, transform 0.2s;
}

.btn-custom:hover {
    background-color: #2c7bd2;
    transform: translateY(-2px);
    color: #fff;
}

/* Link extra */
.link-custom {
    color: #0a2a4a;
    font-weight: 500;
    text-decoration: none;
}

.link-custom:hover {
    text-decoration: underline;
}

.fundoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    all-space-treatment: 0px;
}

.imgContainer{
    padding: 0;
    display: flex;
    justify-content: center;
    height: 900%;
    width: 94%;
}

a {
    color: white;
}