{#<!DOCTYPE html>#}
{#<html lang="pt-BR">#}
{#<head>#}
{#  <meta charset="UTF-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#  <title>Formulário de Cadastro de Funcionários</title>#}
{#  <link rel="stylesheet" href="/static/./assets/css/InserirConteudo.css">#}
{##}
{#</head>#}
{#<body>#}
{#<div class="container">#}
{#  <h1>Inserir Conteudo</h1>#}
{#  <form >#}
{##}
{##}
{#    <div class="form-group full-width-input">#}
{#      <label>Arquivo de aula</label>#}
{#      <input type="file" name="arquivoa-aula" accept="image/*">#}
{##}
{#    </div>#}
{##}
{#    <div class="form-group full-width-input">#}
{#      <label class="required">Link da vídeo aula</label>#}
{#      <input type="text" name="Link_aula" placeholder="https://video.aula " >#}
{#    </div>#}
{##}
{#    <div class="form-group full-width-input">#}
{#      <label class="required">Texto da aula</label>#}
{#      <textarea id="conteudo" type="text" cols="80" rows="15" placeholder="A aula é sobre..." required></textarea>#}
{##}
{#    </div>#}
{##}
{#    <div class="botoes">#}
{#      <div class="button-container">#}
{#        <a href="ApresentacaoConteudo.html" class="btn-cadastrar">Inserir</a>#}
{#      </div>#}
{##}
{#      <div class="button-container">#}
{#        <a href="paginaDoProfessor.html" class="btn-cadastrar">Voltar</a>#}
{#      </div>#}
{#    </div>#}
{##}
{#  </form>#}
{#</div>#}
{#</body>#}
{#</html>#}