<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>EDUC at all times</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/static/assets/img/favicon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/assets/css/estudando.css" rel="stylesheet">

</head>

<body class="body">

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="index.html" class="logo">
            <img src="/static/assets/img/LOGO.png" class="logo" alt="Logo">
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/" class="active">Início</a></li>
                <li><a href="/pag_login">Cadastro</a></li>
                <li><a href="/login">Estudos</a></li>
                <li><a href="/progresso">Progresso</a></li>
                <li><a href="/contato">Contato</a></li>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>

<div class="banner">
    <img src="/static/assets/img/bannerEstudo.png" alt="banner" class="img-fluid">
</div>

<div class="generos">
    <h1> Fundamentos da Narrativa </h1>
</div>

<div class="texto1">
    <h4> Os fundamentos da narrativa são os elementos essenciais que compõem uma história: personagens, enredo, tempo, espaço e narrador. Além disso, uma narrativa geralmente segue uma estrutura com início (introdução), meio (desenvolvimento) e fim (conclusão). Esses componentes trabalham juntos para apresentar e contextualizar o relato de um fato ou acontecimento. </h4>
</div>

<div class="img-vid">

    <div class="imagem2">
        <img src="/static/assets/img/ESTUDOS/FOTOestudo2.jpg" alt="banner" class="img-fluid">
    </div>


<div class="explicacao">

    <div class="explicacao1">
        <h2> Elementos fundamentais</h2>
        <ul>
           <li> Personagens: As pessoas, animais ou seres que participam da história.</li>
            <li>Enredo: A sequência de acontecimentos e a trama principal da história, que inclui conflitos e clímax.</li>
            <li>Tempo: A época e o período em que a história se passa, que pode ser cronológico ou psicológico.</li>
            <li>Espaço (ou lugar): O cenário onde a história acontece.</li>
            <li>Narrador: A voz que conta a história e a perspectiva (ponto de vista) do relato.</li>
        </ul>
    </div>

    <div class="explicacao2">
        <h2> Estrutura básica</h2>
        <br>
        <br>
        <ul>
            <li>Introdução (Começo): Apresenta o cenário, os personagens e a situação inicial.</li>
            <br>
            <li>Desenvolvimento (Meio): O enredo se desenrola com a progressão das ações e o surgimento dos conflitos.</li>
            <br>
            <li>Conclusão (Fim): O momento do desfecho da história e a resolução dos conflitos.</li>
        </ul>
    </div>

</div>


<div class="explicacao-completa">
        <div class="completa">
            <h2>"Resumo sobre os elementos da narrativa"</h2>
                <p> Os textos narrativos são criados a partir de um espaço e tempo. Os personagens exercem ações dentro da narrativa que é dividida em apresentação, desenvolvimento, clímax e desfecho. Os gêneros textuais desse tipo são:</p>
            <ul>
                <li> "Os cinco elementos da narrativa procuram estabelecer: o que acontece (o fato); quando acontece (o tempo); onde acontece (o cenário); como acontece (o enredo); e quem diz o que acontece (o narrador).</li>

                <li> O enredo é o elemento responsável pela construção da história e é estruturado, em sua forma padrão, em apresentação, complicação, clímax e desfecho.</li>

                <li> O narrador é aquele que atribui um foco narrativo, isto é, um ponto de vista. Ele pode ser um narrador em primeira pessoa ou em terceira pessoa.</li>

                <li> O tempo é o momento em que a história ocorre. Esse momento pode ser cronológico ou psicológico.</li>

                <li> O espaço é o local onde ocorre a narrativa. Assim como o tempo, ele tem uma composição física e outra psicológica"</li>

                <li>   Veja mais sobre "Elementos da narrativa" em: https://brasilescola.uol.com.br/redacao/elementos-da-narrativa.htm</li>
            </ul>
        </div>

</div>

    <div class="generos">
        <h1> Assista ao vídeo para compreender melhor</h1>
    </div>

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b_KJC3YLGU8?si=CG28qJRb-Ezyh2AY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>

<div class="concluir">
    <div class="start-text">Parabéns! Você finalizou a aula</div>
    <a href="PROGRESSO.html" class="button">Clique aqui para concluir</a>
</div>




<!-- ======= Footer ======= -->
<footer id="footer" class="footer dark-background">

    <div class="container copyright text-center mt-4">
        <p>©  <strong class="px-1 sitename"> Educ At All Times </strong> <span>Todos dos direitos reservados</span>
        </p>
        <div class="credits">
            Feito por <a href="">Ana Flávia C. Eid</a>
        </div>
    </div>
</footer>

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>

<!-- Main JS File -->
<script src="/static/assets/js/main.js"></script>

</body>

</html>