<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>EDUC at all times</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/assets/img/favicon.png" rel="icon">
  <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/static/assets/css/estudando.css" rel="stylesheet">

</head>

<body class="body">

<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo">
      <img src="/static/assets/img/LOGO.png" class="logo" alt="Logo">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="/" class="active">Início</a></li>
        <li><a href="/pag_login">Cadastro</a></li>
        <li><a href="/login">Estudos</a></li>
        <li><a href="/progresso">Progresso</a></li>
        <li><a href="/contato">Contato</a></li>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>

<div class="banner">
  <img src="/static/assets/img/bannerEstudo.png" alt="banner" class="img-fluid">
</div>

<div class="generos">
  <h1> Variação Lingística </h1>
</div>

<div class="texto1">
  <h4> Variação linguística é a diversidade de formas que uma língua pode assumir, adaptando-se a fatores como região, tempo, grupos sociais e contexto. Esses diferentes usos demonstram que a língua é viva e está em constante transformação, e nenhuma variedade é superior à outra. Os tipos principais são: regional, que depende da localização geográfica; histórica, que reflete mudanças ao longo do tempo; social, que varia entre diferentes grupos sociais; e situacional, que se adapta ao contexto.</h4>
</div>


<div class="img-vid">

  <div class="imagem">
    <img src="/static/assets/img/ESTUDOS/" alt="banner" class="img-fluid">
  </div>


  <div class="explicacao">

    <div class="explicacao1">
      <h2> Principais características e tipos</h2>
      <ul>
        <li> Variação geográfica (diatópica): Ocorre devido à localidade do falante.
             Exemplos: O uso de "aipim", "macaxeira" e "mandioca" para a mesma planta, ou diferentes sotaques em um mesmo país. </li>
        <br>
        <li> Variação social (diastrática): Relacionada a diferentes grupos sociais, como idade, escolaridade, profissão e gênero.
             Exemplos: A diferença entre a linguagem formal de uma entrevista de emprego e a linguagem informal entre amigos, ou o uso de gírias. </li>
        <br>
        <li> Variação histórica (diacrônica): Variações que ocorrem ao longo do tempo.
             Exemplos: Palavras que caem em desuso (arcaísmos) ou mudanças na grafia, como a escrita de "fase" com "ph" no passado. </li>
        <br>
        <li> Variação situacional (diastática): Refere-se à adaptação da linguagem ao contexto da comunicação.
             Exemplos: O uso de uma linguagem mais formal em um ambiente profissional e uma mais informal em um contexto familiar.  </li>
      </ul>
    </div>

    <div class="explicacao2">
      <h2> Principais grupos de gêneros textuais</h2>
      <br>
      <p>  Embora existam muitos gêneros, eles podem ser agrupados em tipos textuais, que são as estruturas fundamentais de elaboração: </p>
      <br>
      <ul>
        <li> Geográficas, como os regionalismos.</li>
        <br>
        <li> Históricas, como o português medieval e o atual </li>
        <br>
        <li> Sociais, como os termos técnicos usados por profissionais. </li>
        <br>
        <li> Situacionais, como as gírias  </li>
        <br>
      </ul>
    </div>

  </div>


  <div class="explicacao-completa">
    <div class="completa">
      <h2>1. Variação geográfica ou diatópica</h2>
      <p> A variação geográfica ou diatópica está relacionada com o local em que é desenvolvida, tal como as variações entre o português do Brasil e de Portugal, chamadas de regionalismo.</p>
    </div>

    <div class="completa">
      <h2>2. Variação histórica ou diacrônica</h2>
      <p> A variação histórica ou diacrônica ocorre com o desenvolvimento da história, tal como o português medieval e o atual. </p>
    </div>

    <div class="completa">
      <h2>3. Variação social ou diastrática</h2>
      <p> A variação social ou diastrática é percebida segundo os grupos (ou classes) sociais envolvidos, tal como uma conversa entre um orador jurídico e um morador de rua. Um exemplo desse tipo de variação são os socioletos. </p>
    </div>

    <div class="completa">
      <h2>4. Variação situacional ou diafásica</h2>
      <p> A variação situacional ou diafásica ocorre segundo o contexto, por exemplo, situações formais e informais. As gírias são expressões populares utilizadas por determinado grupo social.
      <br>
          Exemplos de gíria:
      <br>
          Que mico! (Que vergonha!)
          Fui trollado. (Fui enganado)
          Minha apresentação flopou. (Minha apresentação foi um fracasso.)</p>
    </div>


    <div class="completa">
      <h2>Texto injuntivo</h2>
      <p> É o tipo de texto que promove instruções. O emissor pretende persuadir ou orientar o interlocutor sobre algo e, para isso, usa verbos no imperativo. Os gêneros dos textos injuntivos são: </p>
      <ul>
        <li>Publicidade</li>
        <li>Receitas culinárias</li>
        <li>Manuais de instruções</li>
        <li>Bula de remédios</li>
        <li>Regulamentos</li>
      </ul>
    </div>

    <div class="completa">
      <h2>Textos prescritivos </h2>
      <p> Esse tipo textual tem por objetivo realizar instruções sobre certo procedimento. A orientação ocorre por meio de verbos no imperativo. Os principais gêneros prescritivo são: </p>
      <ul>
        <li>  Leis</li>
        <li> Cláusulas contratuais</li>
        <li>  Editais de concursos</li>
      </ul>
    </div>
  </div>

  <div class="generos">
    <h1> Assista ao vídeo para compreender melhor</h1>
  </div>

  <div class="video">
    <iframe width="760" height="415" src="https://www.youtube.com/embed/keri15mSleA?si=owVl63ARs-0gykpR"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write;
        encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
  </div>
</div>

<div class="concluir">
  <div class="start-text">Parabéns! Você finalizou a aula</div>
  <a href="PROGRESSO.html" class="button">Clique aqui para concluir</a>
</div>



<!-- ======= Footer ======= -->
<footer id="footer" class="footer dark-background">

  <div class="container copyright text-center mt-4">
    <p>©  <strong class="px-1 sitename"> Educ At All Times </strong> <span>Todos dos direitos reservados</span>
    </p>
    <div class="credits">
      Feito por <a href="">Ana Flávia C. Eid</a>
    </div>
  </div>
</footer>

<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/assets/vendor/php-email-form/validate.js"></script>
<script src="/static/assets/vendor/aos/aos.js"></script>
<script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>

<!-- Main JS File -->
<script src="/static/assets/js/main.js"></script>

</body>

</html>