<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- CSS personalizado -->
  <link rel="stylesheet" href="/static/assets/css/login.css">
</head>
<body class="bg-light-blue">

<div class="fundoContainer">

  <div class="imagemContainer">
    <img src="/static/assets/img/fundologo.png" class="imgContainer">
  </div>


    <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="form-box p-5 shadow-lg">
            <h2 class="form-title text-center mb-4">Login</h2>
            <p class="mt-6 text-center small">Faça o Login para poder ter acesso! 😉</p>
            <form action="/autenticar_prof" method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" name="email" id="email" class="form-control input-custom"
                           placeholder="Digite seu e-mail" required>
                </div>
                <div class="mb-4">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" name="senha" id="senha" class="form-control input-custom"
                           placeholder="Digite sua senha" required>
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-custom"> Entrar</button>
                </div>
            </form>
            <p class="mt-lg-5 text-center small ">Não tem uma conta? <a href="/pag_login" class="link-custom">Cadastre-se</a>
            </p>
        </div>
    </div>
</div>





<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
